<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<File name="FileAppender"
			fileName="..\MOG_SupportingData\logs\reproducibility_log-${date:yyyyMMddHHmmssSSS}.log"
			immediateFlush="true" append="true">
			<PatternLayout pattern="%m%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="REPRODUCIBILITY_LOG" level="TRACE"
			additivity="false">

		</Logger>
		<Root level="debug">
			<AppenderRef ref="FileAppender" />
		</Root>
	</Loggers>
</Configuration>